
mat-form-field
{
  
    text-decoration:rgb(115, 233, 115);
 
}

.header_content
{
    color:rgb(130, 192, 37);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

.left{
    float: left;
 
}


.right{
    float: right;
 
}